.bg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 30%;
  background-color: #202020;
  border-radius: 12px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 10px;
  width: 100%;
}
input {
  width: 100%;
  display: flex;
  align-self: flex-start;
  background-color: transparent;
  border: 1px solid #7e858e;
  outline: none;
  height: 31px;
  margin-bottom: 20px;
  border-radius: 2px;
  color: #ffffff;
}
.input-2 {
  width: 100%;
  display: flex;
  align-self: flex-start;
  background-color: transparent;
  border: 1px solid #7e858e;
  outline: none;
  height: 31px;
  border-radius: 2px;
  color: #ffffff;
}
.error-msg {
  align-self: flex-start;
  font-size: 10px;
  color: #ff0b37;
}
label {
  display: flex;
  align-self: flex-start;
  font-size: 12px;
  margin-bottom: 5px;
}
.btn-login {
  width: 100%;
  background-color: #6366f1;
  border-radius: 8px;
  height: 31px;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
}
